<a href="https://colab.research.google.com/github/adaanderson/cokiblue/blob/main/11_15_2023_Classwork_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week of 11.15.2023: Tuples and Dictionaries**
---

<br>

<br>

### **Learning Objectives**
By the end of this lab, we will:
* Check what datatype a value is
* Cast or change the datatype for a value
* Take the input from a user
* How to create a list
* How to select a certain element from a list

<a name="p1"></a>

---
## **Part 1: Tuples**
---

#### **Problem #1.1**

**Together**, create a tuple!

In [2]:
integers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print (integers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

#### **Problem #1.2**

**Independently**, create a tuple showing the first 10 whole numbers and access the first item.

In [3]:
integers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print (integers[0])

1

#### **Problem #1.3**

**Together**, let's try to run this code!

In [ ]:
lwsd_middle_schools= ("evergreen", "inglewood", "kamiakin")
lwsd_middle_schools.append("finn hill")

AttributeError: ignored

<a name="p1"></a>

---
## **Part 2: Dictionaries**
---

#### **Problem #2.1**

**Together**, let's create a dictionary of people's Elementary Schools.

In [10]:
elementary_schools = {'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
print (elementary_schools)

{'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}

#### **Problem #2.2**

**Independently**,  create an dictionary about people's favorite classes in school.

In [6]:
favorite_classes = {'Ada': 'Reading', 'Maggy': 'Science', 'Hana': 'Drawing'}
print(favorite_classes)

{'Ada': 'Reading', 'Maggy': 'Science', 'Hana': 'Drawing'}

#### **Problem #2.3**

**Together**, let's create access a value in the dictionary created in problem 2.1.

In [13]:
elementary_schools = {'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
print (elementary_schools['Ada'])

Audabon

#### **Problem #2.4**

**Independently**, let's create access a value in the dictionary you created in problem 2.2.

In [9]:
favorite_classes = {'Ada': 'Reading', 'Maggy': 'Science', 'Hana': 'Drawing'}
print(favorite_classes['Hana'])

Drawing

#### **Problem #2.5**

**Together**, let's create add a value in the dictionary created in problem 2.1.

In [12]:
elementary_schools = {'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
elementary_schools['Harry Potter'] = 'Hogwarts'
print (elementary_schools)

{'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell', 'Haery Potter': 'Hogwarts'}

#### **Problem #2.6**

**Independently**, let's modify add the last value in the dictionary created in problem 2.1.

In [14]:
elementary_schools = {'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
elementary_schools['Hana'] = 'Mead'
print (elementary_schools['Hana'])

Mead

#### **Problem #2.6**

**Independently**, let's modify add the last value in the dictionary created in problem 2.1.

In [ ]:
#repeat

#### **Problem #2.7**

**Independently**, let's remove add the first value in the dictionary created in problem 2.1.

In [15]:
elementary_schools = {'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
print (elementary_schools)
del(elementary_schools['Ada'])
print (elementary_schools)

{'Ada': 'Audabon', 'Maggy': 'Einstein', 'Hana': 'Blackwell'}
{'Maggy': 'Einstein', 'Hana': 'Blackwell'}